// Colors
$primary-color:  	#1858b5;
$secondary-color: 	#3068bd;

$light-green: 		#28d6ba;
$dark-green: 		#164e60;
$nephro-blue: 		#1d5ab2;
$dark-nephro-blue:	#04295f;
$turquoise:			#3f879e;
$dark-turquoise:	#073949;
$darker-turquoise: 	#164e60;
$darkest-turquoise: #3f879e;
$gray-green: 		#394248;
$red: 				#f85928;