extends layouts/h5bp.jade

block title
  title Industry 

block content
  .industry.top-call-to-action.half-section-padding.hero-font.scene-element.scene-element--fadeindown
    .container
      .row
        h1 NephroNet
        h2 We help industry sponsors connect with lead investigators and clinical trial services in nephrology.
        h3.bottom-padding Ready to get started? Let us help you put all the pieces together to take you from proof of concept to regulatory approval.
        a.typeform-share.industry-button.no-smoothstate(href='https://brettwise.typeform.com/to/EuIami', data-mode='1', target='_blank') Get Started!
  .doctors.scene-element.scene-element--fadeinup
    .container
      .row
        .eight.columns.download
          h3 How can NephroNet help you?
          p NephroNet Investigators provide dedicated support for Proof of Concept through Phase IV studies. NephroNet can help you avoid costly clinical development failures by making better decisions in the protocol design to ensure endpoints are feasible and data analysis is meaningful.
          p Our team of experts provides you with the required scientific, therapeutic, and regulatory expertise to design studies for new drugs for the treatment of chronic kidney disease.
          p When it is time to move to patient recruitment our service assist with site selections from academic to private research sites.  Our investigative sites are leader’s in renal research patient recruitment, which is often where pharmaceuticals fall short and lose time and money.
  .container.collaborate.half-section-padding
    .row
      .six.columns.uppercase
        h2 Expert Medical Writing
      .six.columns
        p NephroNet’s Medical Writing group is a unique collection of scientific experts in Phase 1 through Phase 4 clinical documentation for global regulatory agencies. Our senior medical writers have diverse and complementary academic and professional backgrounds. Their strong analytical and communications skills and project management experience are consistently reflected in high quality and timely deliverables and exceptional client satisfaction.
        p The Medical Writing group talent and experience provides valuable scientific, medical, and strategic input to sponsors and clinical and regulatory interpretation support on medical writing content. NephroNet’s Medical Writing group is supported by a highly experienced quality control review and document specialist team.
  .education
    .container
      .row
        .eight.columns.offset-by-four.download
          h3 Collaborate with Nephronet on a clinical trial
          p NephroNet’s medical writing team produces expert clinical documentation that is clear, concise and scientifically accurate with format and content in strict accordance with current regulations and guidance.
          p NephroNet’s Medical Writing group is a unique collection of scientific experts in Phase 1 through Phase 4 clinical documentation for global regulatory agencies. Our senior medical writers have diverse and complementary academic and professional backgrounds. Their strong analytical and communications skills and project management experience are consistently reflected in high quality and timely deliverables and exceptional client satisfaction.
          p The Medical Writing group talent and experience provides valuable scientific, medical, and strategic input to sponsors and clinical and regulatory interpretation support on medical writing content. NephroNet’s Medical Writing group is supported by a highly experienced quality control review and document specialist team.
  include includes/board-of-directors.jade
  .bottom-call-to-action.section-padding
    .container.centered
      .row
        h2 Contact us today!
      .row
        h5 Let NephroNet’s medical writing team produce the expert clinical documentation that you need to get your therapy beyond the trial phase.
      .row
        a.typeform-share.industry-button(href='https://brettwise.typeform.com/to/EuIami', data-mode='1', target='_blank') Get Started!
        script.
          (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
