extends layouts/h5bp.jade

block title
  title Patients 

block content
  include includes/navbar.jade
  .patients-top-call-to-action.half-section-padding.hero-font
    .container
      .row
        h1 NephroNet
        h2
          | We help patients like you navigate the complexities of participating in a clinical trial.
        h5 Help We Provide You
  .woman-doctor.section-padding
    .container
      .row
        .six.columns
          h2.uppercase
  .container.collaborate.half-section-padding
    .row
      .six.columns.uppercase
        h2 My doctor has told me I have kidney disease. What should I do?
      .six.columns
        p
          | There are many factors that cause kidney disease. Talk with your doctor to understanding fully what kind of kidney disease you have. Understanding all your options will help guide you to what is right for you.
  .library
    .container
      .row
        .six.columns.download
          h3 Should I enroll in clinical trial?
          p
            | Understanding your options is the biggest hurdle. Once you know how your kidney disease is treated, deciding if you should enroll in a clinical trial will be easier.
  .container.collaborate.half-section-padding
    .row
      .six.columns.uppercase
        h2 Will a clinical trial help me?
      .six.columns
        p
          | Treatment with investigational new drugs may or may not help you. Participating in clinical trials does bring new information that may be helpful for the treatment of chronic kidney disease
  .social-proof.section-padding
    .container
      .row
        .twelve.columns.centered
          h2 Previous Patients We've Helped
          h3 We can help you too!
        .six.columns
          p
            | Working with NephroNet was one of the best decisions we ever made! The amount of time we saved actually is the reason our clinical trial succeeded.
          h6 - Dave Davis, Super Pharm Group
          p
            | I was waking up in cold sweats at night before I got in touch with NephroNet. After I finally pulled the trigger I was sleeping like a baby. Thanks NephroNet team!
          h6 - Barbra Kissinger, Mega Huge Pharma Group
        .six.columns
          p
            | NephroNet not only saved my company but also my family. NephroNet you are my number one. You are my everything. I owe you my life.
          h6 - Gregory Alan "Da Al" Swartzmonakauf, Phizer
          p
            | My clinical trial was on the track to the clinical trial graveyard until I brought on NephroNet. They really saved me from an early grave myself.
          h6 - George Stephanockulus, Bayer
  .team.half-section-padding
    .container
      .row
        h2.centered Some of the team who will help you
      .row
        .one-third.column
          .u-max-full-width.doctor-circle-img
        .two-thirds.column
          h4 Dr. Who
          p
            | Dr. Who is one of the most experienced professionals around when it comes to clinical trials. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex conse. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.
      .row
        .two-thirds.column
          h4 Dr. What
          p
            | Dr. Who is one of the most experienced professionals around when it comes to clinical trials. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex conse. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.
        .one-third.column
          .u-max-full-width.doctor-circle-img
  .bottom-call-to-action.section-padding
    .container.centered
      .row
        h2 How can we help you?
      .row
        h5
          | If you decide you want to know more about investigational treatment options let us know. We can help connect you with a clinic close to where you live.
      .row
        a.typeform-share.button(href='https://brettwise.typeform.com/to/EuIami', data-mode='1', target='_blank') Get Started!
        script.
          (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
