extends layouts/h5bp.jade

block title
  title Nephronet - Physicians 

block content
  //- include includes/navbar.jade
  .physicians.top-call-to-action.half-section-padding.hero-font
    .container
      .row
        h1 NephroNet
        h2 Looking for help from a leading expert? Or want assistance writing your trial protocol? 
        h2.bottom-padding Click the button below and tell us a little about your project.
        a.typeform-share.physicians-button(href='https://brettwise.typeform.com/to/fPoflf', data-mode='1', target='_blank') Get Started!
        h4 Our network of physicians have conducted over 250 clinical trials and have helped to bring new treatment for kidney disease to market.
  .stethoscope.section-padding
    .container
      .row
        .six.columns
          h2.uppercase Physicians
  .container.collaborate.half-section-padding
    .row
      .six.columns.uppercase
        h2 We have the best physicians and sites across the US.
      .six.columns
        p The NephroNet team of clinical trial physicians bring together the best physicians and sites across the United States. Our physicians are leaders in trial design, recruitment, enrollment and retention. We have consulted with leading pharmaceuticals companies to design and review their studies to ensure appropriate endpoints and objectives will be met and will meet the needs of patients seeking treatment of the future for their kidney disease.
  .lab
    .container
      .row
        .six.columns.offset-by-six.download
  include includes/board-of-directors
  .bottom-call-to-action.section-padding
    .container.centered
      .row
        h2 Contact us today!
      .row
        h5 We are fully ready to accept your forms. Get at us today.
      .row
        a.typeform-share.physicians-button(href='https://brettwise.typeform.com/to/fPoflf', data-mode='1', target='_blank') Get Started!
        script.
          (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
