extends layouts/h5bp.jade

block title
  title Nephronet - Physicians 

block content
  include includes/navbar.jade
  .physicians.top-call-to-action.half-section-padding
    .container
      .row
        h1 NephroNet
        h2
          | We help doctors like you connect with doctors who lead in their fields as well as help with trial protocol design.
        h5 NephroNet Provides
        h6
          | | Benefit | Benefit | Benefit | Benefit | Benefit | Benefit | Benefit | Benefit | Benefit | Benefit |
        h3
          | Looking for help from a leading expert? Or want assistance writing your trial protocol? Click the button below and tell us a little about your project.
        a.typeform-share.button(href='https://brettwise.typeform.com/to/fPoflf', data-mode='1', target='_blank') Get Started!
  .stethoscope.section-padding
    .container
      .row
        .six.columns
          h2.uppercase Physicians
  .container.collaborate.half-section-padding
    .row
      .six.columns.uppercase
        h2 We have the best physicians and sites across the US.
      .six.columns
        p
          | The NephroNet team of clinical trial physicians bring together the best physicians and sites across the United States. Our physicians are leaders in trial design, recruitment, enrollment and retention. We have consulted with leading pharmaceuticals companies to design and review their studies to ensure appropriate endpoints and objectives will be met and will meet the needs of patients seeking treatment of the future for their kidney disease.
  .lab
    .container
      .row
        .six.columns.offset-by-six.download
          h3 We need something to put here!
          p
            | NephroNet has Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore agna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex conse. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.
  .social-proof.section-padding
    .container
      .row
        .twelve.columns.centered
          h2 What some of our industry partners have to say.
          h3 Proof that people love us!
        .six.columns
          p
            | Working with NephroNet was one of the best decisions we ever made! The amount of time we saved actually is the reason our clinical trial succeeded.
          h6 - Dave Davis, Super Pharm Group
          p
            | I was waking up in cold sweats at night before I got in touch with NephroNet. After I finally pulled the trigger I was sleeping like a baby. Thanks NephroNet team!
          h6 - Barbra Kissinger, Mega Huge Pharma Group
        .six.columns
          p
            | NephroNet not only saved my company but also my family. NephroNet you are my number one. You are my everything. I owe you my life.
          h6 - Gregory Alan "Da Al" Swartzmonakauf, Phizer
          p
            | My clinical trial was on the track to the clinical trial graveyard until I brought on NephroNet. They really saved me from an early grave myself.
          h6 - George Stephanockulus, Bayer
  include includes/board-of-directors
  .bottom-call-to-action.section-padding
    .container.centered
      .row
        h2 Contact us today!
      .row
        h5 We are fully ready to accept your forms. Get at us today.
      .row
        a.typeform-share.button(href='https://brettwise.typeform.com/to/fPoflf', data-mode='1', target='_blank') Get Started!
        script.
          (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
