extends layouts/h5bp.jade

block title
  title Videos 

block content
  .physicians.top-call-to-action.half-section-padding.hero-font.scene-element.scene-element--fadein
    .container
      .row
        h1 Checkout our videos!
    hr
    .container
      .row
        iframe(src='http://player.vimeo.com/video/89419870', width='800', height='448', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
        iframe(src='http://player.vimeo.com/video/89420985', width='800', height='448', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
        iframe(src='http://player.vimeo.com/video/89420986', width='800', height='448', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
        iframe(src='http://player.vimeo.com/video/89420987', width='800', height='448', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
        iframe(src='http://player.vimeo.com/video/89420990', width='800', height='448', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
        iframe(src='http://player.vimeo.com/video/89420994', width='800', height='448', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
