.team {
  background-color: $turquoise;
  h2 {
    color: white;
  }
}
.doctor-circle-img {
  width: 400px;
  height: 200px;
  border-radius: 300px;
  background: url('../images/doctor-headshot.jpg') no-repeat;
}