.navbar {
  margin-top: -22px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 50px;
    left: 65px;
  }
  li {
  display: inline-block;
  padding-left: 20px;
  }
  a {
    font-size: 2rem;
    color: white;
  }
}

// .menu-button {
//   color: white;
//   float: right;
//   margin-top: 2rem;
//   margin-right: 4rem;
// }
.menu {
  // background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAMFBMVEUAAAD///////////////////////////////////////////////////////////87TQQwAAAAD3RSTlMAECAwQFBgcICPr7/P3+8FXeCKAAAAhUlEQVR4Ae3VwXWDMBgE4RUK8CdC2v67TQm+sDzbb74G5jjCG6rpqFnSr+NKzlvyA4gQ+f4IESJEhuP+1OKV0fSRAGCrsE3aHbdrOm7yeCJ3IEKECJFnptWXw1aXtrOizqb7AUD/ieqS2uWwq2k4bvB4IkSI3IIIkeW4pXJcSccIOwTgtX9r0nBQfJqksgAAAABJRU5ErkJggg==);
  color: $white;
  float: right;
  margin-top: 2rem;
  margin-right: 4rem;
  font-size: 2.1rem;
  text-rendering: geometricPrecision;
  cursor: pointer;
  cursor: hand;

  &:hover {
    color: darken($white, 4%);
    text-decoration: underline;
  }
}
