.team.half-section-padding
  .container
    .row
      h2.centered Meet our Board of Directors
    .row
      .one-third.column
        .u-max-full-width.doctor-circle-img
      .two-thirds.column
        h4 James Tumlin MD
        p
          | Dr. James Tumlin is founder and medical director of Southeast Renal Research Institute (SERRI) since 2005. The institute was brought to Chattanooga in 2008 and merged with Nephrology Associates' Research Department. His research certification of Certified Clinical Research Professional (CCRP) from the Society of Clinical Research Associates (SoCRA) shows his dedication to research excellence for over 15 years
        p
          | Dr. Tumlin received his medical degree from the University of South Florida, College of Medicine and completed his internship and residency at Emory University in Georgia. He then completed his clinical and research fellowship in Nephrology at Emory University in Georgia where he then stayed on as a faculty member in the Department of Medicine. Dr. Tumlin continued his career at Emory where he won numerous awards for clinical teaching and developed a national reputation as a clinical trialist.
        p
          | Dr. Tumlin is widely acknowledged as a thought leader in acute kidney injury and various forms of Glomerulonephritis including IgA nephropathy and Lupus nephrititis.
        p
          | Dr. Tumlin has accepted numerous invitations to Lecture at National or International Conferences. He is current academic appointment is as an Associate Professor of Medicine at the University of Tennessee Chattanooga.
    .row
      .two-thirds.column
        h4 Brad Rovin MD
        p
          | Dr. Rovin is the Lee A. Hebert Distinguished Professor of Medicine and Pathology at the Ohio State University College of Medicine. He is the Director of the Division of Nephrology and is the Vice Chairman of Medicine for Research.
        p
          | Dr. Rovin was the Program Director for the Nephrology Fellowship at Ohio State University for several years, and now directs an advanced fellowship in Glomerular Diseases.
        p
          | Dr. Rovin has been at the Ohio State University for 24 years and has been recognized by Best Doctors® for his work in the area of glomerular diseases.
        p
          | Dr. Rovin received his Bachelor of Science in chemical engineering at Northwestern University followed by his Doctor of Medicine from the University Of Illinois College Of Medicine in Chicago. He completed a residency in Internal Medicine at Barnes Hospital in St. Louis and a fellowship in Nephrology at Washington University.
      .one-third.column.pull-on-mobile
        .u-max-full-width.doctor-circle-img
    .row
      .one-third.column
        .u-max-full-width.doctor-circle-img
      .two-thirds.column
        h4 Randy Hennigar MD
        p
          | Dr. Randolph Hennigar joins us following fourteen years as Director of the Laboratory of Nephropathology and Electron Microscopy at Emory University Hospital. During that time he also served as an Associate Professor and Co-director of Autopsy Services.
        p
          | Dr. Hennigar received his MD and his PhD in experimental pathology from the Medical University of South Carolina. He completed his fellowship in Molecular Oncology and Nephropathology at the Johns Hopkins University School of Medicine from 1991-1993.
        p
          | Dr. Hennigar is widely published in renal pathology; including having authored more than 50 peer-reviewed journal publications and textbook chapters. He was board certified by the American Board of Pathology in 1995. He is a member of both the College of American Pathologists and The Renal Pathology Society.
    .row
      .two-thirds.column
        h4 Bhupinder Singh MD
        p
          | Dr. Singh was one of the founders of Southwest Kidney Institute, which in a short span of 10 years, became one of the leading kidney disease management companies in the country. He previously served on the Board of the organization, and was instrumental in developing the Research and Chronic Kidney Disease programs. He was Medical Director and Principal Investigator of Research from 2004-2013.
        p
          | Dr. Singh graduated from Armed Forces Medical College, which is ranked among the top Medical Schools in India. After brief research and clinical stints at Post Graduate Institute (India), and Cleveland Clinic Foundation, he completed his Internal Medicine Residency at Henry Ford Hospital in Detroit, followed by a Fellowhip in Nephrology at SUNY Upstate Medical University. After completing his training, he moved to AZ in 2002, and has been here since.
        p
          | Dr. Singh is ABIM Board Certified in Nephrology and Internal Medicine, and is a ASH Specialist in Clinical Hypertension. He is a Fellow of both the American Society of Nephrology and National Kidney Foundation. He serves on the clinical faculty of Midwestern University, and Creighton University School of Medicine as Assistant Professor. He is on the Advisory Board of Imaging Endpoints Core Labs, and several pharmaceutical companies.
        p
          | Dr. Singh serves on the Board of several non profit organizations. He is one of the founding board members of the Cardio Renal Society of America, an organization which is trying to bridge the knowledge and management gap between the cardiac and renal specialties. He serves as Vice President of the Board of Twin Epidemic, a non profit engaged in raising awareness about heart disease and diabetes among South Asians. He also serves on the Board of the International Alliance for the Prevention of AIDS, as well as the newly founded Transplant First Academy.
        p
          | His main interests include Cardiovascular Disease in Chronic Kidney Disease, Resistant Hypertension, Glomerular Disease, Nephrotic Syndrome and Polycystic Kidney Disease.
      .one-third.column
        .u-max-full-width.doctor-circle-img
    .row
      .one-third.column
        .u-max-full-width.doctor-circle-img
      .two-thirds.column
        h4 Claude Galphin MD
        p
          | Dr. Claude Galphin is a principal investigator for Southeast Renal Research Institute and has been conducting research for over 15 years. His research certification of Certified Principal Investigator (CPI) from the Association of Clinical Research Professionals (ACRP) and Certified Clinical Research Professional (CCRP) from the Society of Clinical Research Associates (SoCRA) shows his dedication to research excellence.
        p
          | He earned his medical degree at Medical University of South Carolina, completed his internal medicine at The Tulane University of Louisiana, New Orleans and his residency and Nephrology Fellowship at Medical College of Georgia, Augusta.
        p
          | Dr. Galphin is currently Board Certified with ABIMin Internal Medicine, Critical Care Medicine, and Nephrology. He is a Hypertension Specialist through the American Society of Hypertension and is certified through the ACRP as a Principal Investigator.
        p
          | He is currently a member of the Renal Physicians Association and a society member of National Kidney Foundation, Fellow of the American College of Physicians, Fellow of the American College of Chest Physicians and Society of Critical Care Medicine. He is also a current member of the ACRP, Society of Clinical Research Professionals (SoCRA) and Drug Information Association (DIA).
