footer
  .container
    .row
      .eight.columns.text-logo
        h1
          span N
          | ephro
          span N
          | et
        p A NETWORK OF DEDICATED CLINICIANS AND INVESTIGATORS COMMITTED TO ADVANCING ALL ASPECTS OF NEPHROLOGY RESEARCH AND EDUCATION
      .two.columns
        h3 Links
        include ./nav-links.jade
      .two.columns.address
        h3 Address
        p NephroNet
        p 232 E. 11th ST.
        p Suite #268
        p Chattanooga, TN
        p 37401
        p P: 423.826.8003
