#navbar
  button.menu-button#trigger-overlay Menu
  hr

//- .navbar
//-   .container
//-     .row
//-       ul.six.columns.offset-by-six
//-         li
//-           a(href='/') Home
//-         li
//-           a(href='/industry') Industry
//-         li
//-           a(href='/patients') Patients
//-         li
//-           a(href='/physicians') Physicians
//-   hr
